@font-face {
  font-family: Outfit-Bold;
  src: url(../src/assets/Fonts/Outfit-Bold.ttf);
}

@font-face {
  font-family: Outfit-Thin;
  src: url(../src/assets/Fonts/Outfit-Thin.ttf);
}

@font-face {
  font-family: Outfit-Regular;
  src: url(../src/assets/Fonts/Outfit-Regular.ttf);
}

.input-slot-image {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 2px;
}
body {
  background-image: url("../src/assets/bg.jpg");
  background-size: cover; /* This is the key property */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
